# Ignore .env file
.env

# Ignore node_modules folder
node_modules/

# Ignore yarn.lock file
yarn.lock

# Ignore yarn error logs
yarn-error.log

# Ignore yarn cache folder
.yarn/cache

# Ignore yarn global packages folder
.yarn/global

# Ignore yarn build output folder
build/